body {
    background-color: rgb(106, 175, 79);
    width: 70%;
    margin: auto;
    text-align: center;

}
header {
    padding-bottom: 20px;
}
header h1 {
    color:blue;
    text-size-adjust: 50px;
}


ul {
    list-style-type: none;
}

img {
    width: 60%;
}

.plugmap {
    margin: auto;
}